body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(202, 203, 204); */
    margin: 0;
}
.h-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}

.section{
  height: 100vh;
  width: 100wh;
}
.art-wall{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aw-outer{
  background-color: rgba(240, 248, 255, 0.541);
height:50% ;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.aw-inner{
  background-color: #ffd24a;
  border-radius: 13px;
  background: linear-gradient(145deg, #e6bd43, #ffe14f);
box-shadow:  7px 7px 14px #606366,
           -7px -7px 14px #ffffff;
  color: rgb(70, 70, 70);
  height: 30%;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.aw-inner :active{
  border-radius: 13px;
  background: linear-gradient(145deg, #e6bd43, #ffe14f);
box-shadow: inset 7px 7px 14px #66541e,
          inset -7px -7px 14px #ffff76;
}

/* navbar */
.navbar{
  background-color: #ffb8b8;
text-align: center;
padding: 40px 0 40px;
}
.a-nav{
  margin: 20px 20px;
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bolder;
}
.a-nav:hover{
  color:#5a5659;
}
.whitespace{
  background-color: #fff;
  padding-top: 4%;
}

/* footer-section */
.fimage{
width: 4%;
padding-bottom: 3%;
}

.footer{
text-align: center;
color: #fff;
background-color: #000000;
line-height: 0.5rem;
padding-top: 1%;
padding-bottom: 1%;
}

.copyright{
color: #D1D1D1;
font-size: 0.75rem;

}
